/*----------  News Card  ----------*/

.news-card {
    color: $blue;
    box-shadow: 0px 8px 44px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        box-shadow: none;
    }
}

.news-card__img {
    margin-bottom: 20px;
    height: 303px;
    border-radius: 20px;
    img {
        min-height: 303px !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        border-radius: 20px;
    }
}

.news-card__content {
    padding: 0 10px;
}

.news-card__date {
    margin-bottom: 10px;
}

.news-card__title {
    margin-bottom: 0;
}

// modificators
.news-card--lg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    color: $white;
    overflow: hidden;
    max-width: 750px;
    position: relative;
    min-height: calc(421px + 40px);

    .news-card__img {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        position: absolute;
        z-index: 0;
        left: 20px;
        top: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
            z-index: 0;
            opacity: 1;
            transition: all 0.3s;
        }
    }

    // &:hover {
    //     .news-card__img:before {
    //         opacity: 0;
    //         transition: all 0.3s;
    //     }
    // }

    .news-card__content {
        padding: 30px;
        position: relative;
        z-index: 2;
    } 
}