/*=============================================
=            Main colors                     =
=============================================*/

.color-blue {
    color: $blue !important;
}

.color-white {
    color: $white !important;
}

.color-yellow {
    color: $yellow !important;
}

.color-black {
    color: $black !important;
}

// bg
.bg-blue {
    background-color: $blue !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.bg-black {
    background-color: $black !important;
}

.bg-transparent {
    background-color: $transparent !important;
}


/*=============================================
=            Secondary colors                =
=============================================*/

.color-sec-green {
    color: $green !important;
}

.color-sec-grey {
    color: $grey !important;
}

.color-sec-light-grey {
    color: $light-grey !important;
}

.color-sec-dark-grey {
    color: $dark-grey !important;
}

.color-sec-light-blue {
    color: $light-blue !important;
}

.color-sec-dark-blue {
    color: $dark-blue !important;
}

// bg
.bg-sec-green {
    background-color: $green !important;
}

.bg-sec-grey {
    background-color: $grey !important;
}

.bg-sec-light-grey {
    background-color: $light-grey !important;
}

.bg-sec-dark-grey {
    background-color: $dark-grey !important;
}

.bg-sec-light-blue {
    background-color: $light-blue !important;
}

.bg-sec-dark-blue {
    background-color: $dark-blue !important;
}